$white: #FFF
$light-gray: #EFEFEF 
$square-gray: #F3F3F3
$border-gray: #EAEAEA
$fade-gray: #CECECE 
$gray: #A8A8A8 
$dark-gray: #95989A 
$yellow: #FC8901 
$dark-blue: #151F2C 
$light-blue: #172230 
$blue: #2B466A 