.square
	position: absolute
	&.big
		width: 1050px
		height: 1050px
		border: 15px solid $square-gray 
	&.small
		width: 550px
		height: 550px
		border: 10px solid $square-gray 
	&.twenty-left
		+rotate(-20deg)
	&.twenty-right
		+rotate(20deg)
	&.thirty-left
		+rotate(-30deg)
	&.thirty-right
		+rotate(30deg)
	&.forty-five-left
		+rotate(-45deg)
	&.forty-five-right
		+rotate(45deg)