.target
  width: 42px
  height: 42px
  position: absolute
  &.circle > .target-area
    +border-radius(50%)
  &.diamond
    +rotate(45deg)
  .target-area
    background-color: $blue
    position: absolute
    &.outer
      width: 42px
      height: 42px
      top: 0
      left: 0
      opacity: 0.05
    &.outer-middle
      width: 30px
      height: 30px
      top: 6px
      left: 6px
      opacity: 0.1
    &.inner-middle
      width: 18px
      height: 18px
      top: 12px
      left: 12px
    &.inner
      width: 6px
      height: 6px
      top: 18px
      left: 18px
      background-color: $yellow