/******************/
// Import all fonts

@font-face
  font-family: 'Esphimere'
  src: url(../fonts/Esphimere.otf)

@font-face
  font-family: 'Esphimere-Light'
  src: url(../fonts/Esphimere-Light.otf)

@font-face
  font-family: 'Esphimere-Bold'
  src: url(../fonts/Esphimere-Bold.otf)


/******************/

/*************************************************/
// Set defaults for entire app
			
body, html
	width: auto
	height: auto
	padding: 0
	margin: 0
	font-family: Esphimere

html
	overflow-x: hidden
body
	overflow: hidden
	
h1, h2, h3
	margin: 0
	font-size: 100%
	font-weight: normal

a, a:active, a:visited
	color: #000
	text-decoration: none

/*************************************************/

//Colors
@import ./_colors.sass

//Animations
@import ./_animations.sass

//Mixins
@import ./_mixins.sass

// Globals
@import ./_anchor.sass
@import ./_discription.sass
@import ./_square.sass
@import ./_target.sass
@import ./_title.sass

// Header
@import ./_featured.sass
@import ./_header.sass
@import ./_loader.sass
@import ./_main.sass
@import ./_menuMobile.sass
@import ./_socialMedia.sass
@import ./_tagline.sass

//Expertise
@import ./_expertise.sass
@import ./_lightbulb.sass

//Skills
@import ./_skill.sass
@import ./_skills.sass
@import ./_skillset.sass


